html {
    height: 97%;
}

body {
    height: 77%;
}

.content-navbar-adjust-publications {
  height: 66px;
  position:relative;
  top: 0%;
}

.year-title {
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: -10px;
}

a {
  text-decoration: none !important;
}

/*
.hr-year {
  margin-top: 12px;
  margin-bottom: 0px;
}
*/

.title-publications {
    font-size: 17px;
    margin-bottom: 0px!important;
    margin-top: 25px!important;
}

#author {
  margin-bottom: -5px;
}

#journal {
  font-style: italic;
}

#abstract {
  display: none;
}

.publications-margin-top {
    margin-top: 10px !important;
}


.position-pub {
  position: relative;
}

.position-paginator {
  position: absolute;
  left: 0%;
  bottom: 0px;
}

/* Centraliza o conteúdo no centro da página  */

.container-table {
    display: table;
    height: 97%;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}


/* Small devices (smartphones and tablets, 767px and down) */
@media (max-width: 767px) {
  .navbar + .container {
      margin-left: 0px;
      margin-right: 0px;
  }
}


/* Small devices (tablets, 480px and up) */
@media (min-width: 480px) {
  body {
      height: 86%;
  }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
      height: 98%;
  }
}

@media (min-width: 768px) and (min-height: 1024px) {
  body {
      height: 90%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
      height: 97%;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
      height: 88%;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -10px;
  }
}

/* Large devices (large desktops, 1800px and up) */
@media (min-width: 1600px) {
  body {
      height: 91%;
  }
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -10px;
  }
}

@media (min-width: 768px) {
  .navbar-right {
      float: right !important;
      margin-right: -5px;
  }
}


/* Aplica a CSS se a altura >= 768 e largura >= 601px 

   Ajusta a distância entre os títulos das páginas e a navbar

--------------------------------------------------*/

@media (min-width: 768px) and (min-height: 601px) {

    .title-page {
        margin-bottom: 45px !important;
    }
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 0px;
}

.footer {
  bottom: 0px;
  width: 100%;
  margin-top: 5px;
  background-color: transparent;
}

.footer-link {
 color: #999898;
}

.footer-link:hover, .footer-link:focus {
  color: #4E4E4E;
  text-decoration:none;
}

.footer-link-home{
 color: #999898;
}

.footer-link-home:hover, .footer-link-home:focus {
  color: #fff;
  text-decoration:none;
}


/* Modal 
-------------------------------------------------- */

/* Ajusta a posição do modal */

.modal {
  top: 20%;
}


/* Ícone do modal */

.modal-header i {
	font-size: 20px;
	float: right;
}
