## python files to ignore
*.pyc                      
**/__pycache__/*           
  

## developer enviroment
.htaccess
.coverage          
*.src
db.sqlite3
public/
secret_key_dev
.cache/
htmlcov/
/source/.coverage

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
