## python files to ignore
*.pyc
**/__pycache__/*
**/migrations/*  

##
.coverage
*.src
db.sqlite3
public/
secret_key_dev
.cache/
/source/.coverage

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
