{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
  <div class="container container-table">
    <div class="vertical-center-row">
      <div class="content-navbar-adjust"></div>
      <h2 class="text-center title-formation">Formation & CV</h2>
      <div class="col-md-2 col-sm-3">
        <div class="text-center">
          <span class="fa-stack fa-lg fa-5x">
            <i class="fa fa-user fa-stack-1x"></i>
            <i class="fa fa-circle-thin fa-stack-2x" aria-hidden="true"></i>
          </span>
        </div>
      </div>
      <div id="formation" class="col-md-8 col-sm-8 col-xs-12">
        <p class="text-justify">
          {{ content.formation|linebreaksbr }}
        </p>
        <hr/>
        <p>
          <a href="http://lattes.cnpq.br/6928187292584643" target="_blank">Lattes</a>
          <br/>
          <a href="#">Resumé</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
