{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>FSociety</title>
    
    <!-- Bootstrap Core CSS | https://bootswatch.com/paper/ -->
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/fsociety.css' %}" rel="stylesheet">
    
  </head>
	<body style="background-color: black;">

  <div class="container container-table" style="width:480px;">
    <div class="vertical-center-row">
    <img class="img-responsive" src="{% static 'img/mask.gif' %}"></img>
    <div class="text-center">
      <h3>OUR <b>DEMOCRACY</b></h3>
      <h3>HAS BEEN <b>HACKED</b></h3>
    </div>
    </div>
  </div>

  {% include 'javascript.html' %} 

  </body>

</html>
