{% load staticfiles %}

    <!-- ############### [ Script  ] ###############  -->

    <!-- jQuery -->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Marked 0.3.6 -->
    <script src="{% static 'js/marked.min.js' %}"></script>

    <script>

      $(document).ready(function(){

        $(function(){
          $(".dropdown").hover(            
            function() {
              $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
              $(this).toggleClass('open');
              //$('b', this).toggleClass("caret caret-up");                
            },
            function() {
              $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
              $(this).toggleClass('open');
              //$('b', this).toggleClass("caret caret-up");                
            });
          });

        // Caixa de diálogo ao parar o mouse em cima de um link
        // $(".tip-right").tooltip({
        //   placement : 'bottom' 
        // });

        // Altera o comportamento 'hover' do link do rodapé
				{% if img_background %}
					$("#footer-link-dev").toggleClass('footer-link footer-link-home');
				{% endif %}


				// Controla o modalNoPage

				var modalNoPage = document.getElementById("modalNoPage");

				modalNoPage.click = function(e){
					e.preventDefault();
          $('#modalNoPage').modal('show');
				};


        // [contact] JQuery que ativa o Small Modal
        // Se 'message_sent' for passado pelo contexto, o código do Small Modal será
        // embutido no documento DOM, junto com essa JQuery.
        // Quando a página estiver carregada [ $(document).ready(function(){}) ] o Modal
        // com o id 'modalEmailSent' será exibido [ .modal('show') ]
        // 'shown.bs.modal' executa uma ação após o modal abrir.
        {% if message_sent %}

          $('#modalEmailSent').modal('show');

          $('#modalEmailSent').on('shown.bs.modal', function(e){
            setTimeout(function(){
							$('#modalEmailSent').modal('hide'); }, 3000
            );
          });
          
        {% endif %}

        // [publications] Scripts serão implementados se pub_list for passado no contexto
        {% if pub_list %}

          // [publications] troca a classe da tag com o id 'publications' para ajustar
          // a distância entre o primeiro artigo e a nav-bar
          $("#publications").toggleClass('content-navbar-adjust content-navbar-adjust-publications');

          // [publications] Implementa o botão que será destacado utilizando o valor de 'page',
          // passado no contexto
          // {%if page %}
          //   $("#page{{ page }}").addClass('active')
          // {% else %}
          //   $("#page1").addClass('active')
          // {% endif %}

          // [publications] Código copiado da documentação do Django
          // Implementa segurança contra ataque CSRF
          // ## INÍCIO ##

          //For getting CSRF token
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }

          // ## FIM ##


          function counter(pub_id){

            // [publications] Código copiado da documentação do Django
            // Implementa segurança contra ataque CSRF
            // ## INÍCIO ##

            //Prepare csrf token
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
              }
            });
            // ## FIM ##

            // [publications] Requisição AJAX
            $.ajax({
              url : window.location.href, // the endpoint,commonly same url
              type : "POST", // http method
              data : { 
                csrfmiddlewaretoken : csrftoken, 
                pub_id : pub_id,
              }, // data sent with the post request
              // handle a successful response
              success : function() {
                console.log("OK"); // another sanity check
              },

              // handle a non-successful response
              error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more 
                                                           // info about the error 
                                                           // to the console
              }
            });
          };

          // [publications] Itera sobre pub_list e implementa, para cada artigo, o método JQuery
          // que chama a função 'counter', responsavel por disparar a requisição AJAX do 
          // contador de downlods. O método JQuery também abre uma nova aba com o link do artigo.
          {% for pub in pub_list %}
            $("#{{ pub.id }}").click(function( event ) {
              event.preventDefault();
              counter("{{ pub.id }}");
              var url = "{{ pub.upload.url }}";
              window.open(url, '_blank')
            });

            // [publication] Manipula a vizualização do 'abstract' do artigo
            $(".abstract-{{pub.id}}").click(function(event){
              event.preventDefault();
              if ($(this).next("#abstract")[0]){
                $(this).next("#abstract").fadeToggle();
              }
              else {
                $(this).next().next().next("#abstract").fadeToggle();
              }
            });

          {% endfor %}


          // [publication] Insere os anos que dividem os artigos

          var years = {{ years }};
          
          for (var i = 0; i < years.length; i++) {
            // var str = "<div class='row'><div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'><h3 class='year-title'>"+years[i]+"</h3><hr class='hr-year'/></div></div>";
            var str = "<div class='row'><div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'><h3 class='year-title'>"+years[i]+"</h3></div></div>";
            $(str).insertBefore("#"+years[i]);
            delete years[i];
          }

        {% endif %}

        // Markdown
        // ==================================================
        // Quando a página for carregada (document), executa as funções.
        // Primeira função:
        //     $(".content-markdown") se refere a uma classe dentro de uma 
        //     tag <p> em 'post_detail.html'.
        //     '.this' se refere a '.content-markdown'
        //     '.each()' executa uma iteração
        //     'marked()' é chamada do script 'Markdown' acima.
        //     'console.log()' exibe a saída no console do navegador
        // Segunda função:
        //     adiciona a classe 'img-responsive' para tornar responsivas 
        //     as imagens adicionadas pelo app 'markdown'

        $(".content-markdown").each(function(){
            var content = $(this).text()
            //console.log(content)
            var markedContent = marked(content)
            //console.log(markedContent)
            $(this).html(markedContent)
        });

        $("#abstract img").each(function(){
          $(this).addClass("img-responsive")
        });

      })

  </script>

  <!--- #XXX: Era pra retirar a classe 'img-background' de todas as tags
              com o id 'img-home', mas não funciona e eu não sei o motivo.
              'img-background' só é usado na home.
              A classe agora é ativada pelo contexto passado na 'views.py'.
  
  <script>

    $(document).ready(function(){
      $("#img-home").each(function(){
        $(this).removeClass("img-background");
          console.log("OK")
        })
    })
  
  </script>
  
  -->

