{% load staticfiles %}

    <!-- TODO: Refatorar e organizar o código!!! -->

    <!-- ############### [ Script  ] ###############  -->

    <!-- jQuery -->
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Bootstrap Core JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Marked 0.3.6 -->
    <script src="{% static 'js/marked.min.js' %}"></script>

    <!-- Mathjax config -->
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'],
        ['\\(','\\)']]}});
    </script>

    <!-- Mathjax -->
    <script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <script>

      $(document).ready(function(){

        // Comportamento de clique para exibir os elementos dos links na barra
        // de navegação
        $(".dropdown").hover(            
          function() {
            $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
            $(this).toggleClass('open');
            //$(this).children().children().toggleClass("caret caret-up");                
          },
          function() {
            $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
            $(this).toggleClass('open');
            //$(this).children().children().toggleClass("caret caret-up");                
          }
        );

        // Caixa de diálogo ao parar o mouse em cima de um link
        // $(".tip-right").tooltip({
        //   placement : 'bottom' 
        // });

        // Altera o comportamento 'hover' do link do rodapé
				{% if img_background %}
					$("#footer-link-dev").toggleClass('footer-link footer-link-home');
				{% endif %}

				// Controla o modalNoPage
				var modalNoPage = document.getElementById("modalNoPage");
				modalNoPage.click = function(e){
					e.preventDefault();
          $('#modalNoPage').modal('show');
				};

        // [contact] JQuery que ativa o Small Modal
        // Se 'message_sent' for passado pelo contexto, o código do Small Modal será
        // embutido no documento DOM, junto com essa JQuery.
        // Quando a página estiver carregada [ $(document).ready(function(){}) ] o Modal
        // com o id 'modalEmailSent' será exibido [ .modal('show') ]
        // 'shown.bs.modal' executa uma ação após o modal abrir.
        {% if message_sent %}
          $('#modalEmailSent').modal('show');
          $('#modalEmailSent').on('shown.bs.modal', function(e){
            setTimeout(function(){
							$('#modalEmailSent').modal('hide'); }, 3000
            );
          });
        {% endif %}

          // [publications] Código copiado da documentação do Django
          // Implementa segurança contra ataque CSRF
          
          // ## INÍCIO ##

          //For getting CSRF token
          function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
                }
              }
            }
            return cookieValue;
          }

          // ## FIM ##
          
          // Envia um ajax para o incremento no contador de downloads das
          // publicações
          function counter(pub_id, url){

            // [publications] Código copiado da documentação do Django
            // Implementa segurança contra ataque CSRF
            // ## INÍCIO ##

            //Prepare csrf token
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
              return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
              }
            });
            // ## FIM ##

            // [publications] Requisição AJAX
            $.ajax({
              url : url,
              type : "POST", // http method
              data : { 
                csrfmiddlewaretoken : csrftoken, 
                pub_id: pub_id
              },
              // data sent with the post request
              // handle a successful response
              success : function() {
                console.log("OK"); // another sanity check
              },

              // handle a non-successful response
              error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more 
                                                           // info about the error 
                                                           // to the console
              }
            });
          };


        // [publications] Scripts serão implementados se pub_list for passado no contexto
        {% if pub_list %}

          // [publications] troca a classe da tag com o id 'publications' para ajustar
          // a distância entre o primeiro artigo e a nav-bar
          $("#publications").toggleClass('content-navbar-adjust content-navbar-adjust-publications');

          // [publications] Implementa o botão que será destacado utilizando o valor de 'page',
          // passado no contexto
          // {%if page %}
          //   $("#page{{ page }}").addClass('active')
          // {% else %}
          //   $("#page1").addClass('active')
          // {% endif %}

          // [publications] Itera sobre pub_list e implementa, para cada artigo, o método JQuery
          // que chama a função 'counter', responsavel por disparar a requisição AJAX do 
          // contador de downlods. O método JQuery também abre uma nova aba com o link do artigo.
          {% for pub in pub_list %}
            $("#{{ pub.id }}").click(function( event ) {
              event.preventDefault();
              var url = window.location.href; // the endpoint,commonly same url
              counter("{{ pub.id }}", url);
              var url_file = "{{ pub.upload.url }}";
              window.open(url_file, '_blank')
            });

            // [publication] Manipula a vizualização do 'abstract' do artigo
            $(".abstract-{{pub.id}}").click(function(event){
              event.preventDefault();
              if ($(this).next("#abstract")[0]){
                $(this).next("#abstract").fadeToggle();
              }
              else {
                $(this).next().next().next("#abstract").fadeToggle();
              }
            });

          {% endfor %}

          // [publication] Insere os anos que dividem os artigos
          var years = {{ years }};
          for (var i = 0; i < years.length; i++) {
            var str = "<div class='row'><div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'><h3 class='year-title'>"+years[i]+"</h3><hr class='hr-year'/></div></div>";
            $(str).insertBefore("#"+years[i]);
            delete years[i];
          }

        {% endif %}

        // [publications] Markdown
        // ==================================================
        // Quando a página for carregada (document), executa as funções.
        // Primeira função:
        //     $(".content-markdown") se refere a uma classe dentro de uma 
        //     tag <p> em 'publications.html'.
        //     '.this' se refere a '.content-markdown'
        //     '.each()' executa uma iteração
        //     'marked()' é chamada do script 'Markdown' acima.
        //     'console.log()' exibe a saída no console do navegador
        // Segunda função:
        //     adiciona a classe 'img-responsive' para tornar responsivas 
        //     as imagens adicionadas pelo app 'markdown'

        $(".content-markdown").each(function(){
            var content = $(this).text()
            var markedContent = marked(content)
            $(this).html(markedContent)
        });

        $("#abstract img").each(function(){
          $(this).addClass("img-responsive")
        });
        
        // Ajax para realizar login no modal de login
        function doLogin(username, password){

          //Prepare csrf token
          var csrftoken = getCookie('csrftoken');

          function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
            }
          });
          // ## FIM ##

          $.ajax({
            url : "{% url 'teaching:student-login' %}", // the endpoint,commonly same url
            type : "POST", // http method
            data : { 
              csrfmiddlewaretoken : csrftoken, 
              username: username,
              password: password,
            }, // data sent with the post request
            // handle a successful response
            success : function(data) {
              if (data == "userNotAllowed") {
                $('#password-field').removeClass("has-error");
                $('#username-field').addClass("has-error");
                $('.user-pwd-dont-match').fadeOut();
                $('.user-empty-error').fadeOut();
                $('.pwd-empty-error').fadeOut();
                $('.user-dont-exist-error').fadeOut();
                $('.user-not-allowed-error').fadeIn();
              } 
              else if (data == "userPwdDontMatch"){
                $('#username-field').addClass("has-error");
                $('#password-field').addClass("has-error");
                $('.user-not-allowed-error').fadeOut();
                $('.user-empty-error').fadeOut();
                $('.pwd-empty-error').fadeOut();
                $('.user-dont-exist-error').fadeOut();
                $('.user-pwd-dont-match').fadeIn();
              }
              else if (data == "userEmptyError"){
                $('#password-field').removeClass("has-error");
                $('#username-field').addClass("has-error");
                $('.user-not-allowed-error').fadeOut();
                $('.user-pwd-dont-match').fadeOut();
                $('.pwd-empty-error').fadeOut();
                $('.user-dont-exist-error').fadeOut();
                $('.user-empty-error').fadeIn();
              }
              else if (data == "pwdEmptyError"){
                $('#username-field').removeClass("has-error");
                $('#password-field').addClass("has-error");
                $('.user-not-allowed-error').fadeOut();
                $('.user-pwd-dont-match').fadeOut();
                $('.user-empty-error').fadeOut();
                $('.user-dont-exist-error').fadeOut();
                $('.pwd-empty-error').fadeIn();
              }
              else if (data == "userDontExistError"){
                $('#password-field').removeClass("has-error");
                $('#username-field').addClass("has-error");
                $('.user-not-allowed-error').fadeOut();
                $('.user-pwd-dont-match').fadeOut();
                $('.user-empty-error').fadeOut();
                $('.pwd-empty-error').fadeOut();
                $('.user-dont-exist-error').fadeIn();
              }
              else {
                window.open("{% url 'teaching:student-area' %}", '_self')
              }
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
              console.log(xhr.status + ": " + xhr.responseText);
            }
          });
        };

        // Chama a função para fazer login
        $("#login").click(function(event) {
          event.preventDefault();
          var username = $('#InputUsername').val();
          var password = $('#InputPassword').val();
          doLogin(username, password);
        });

        // Ajax para realizar logout na área do estudante
        function doLogout(){
          $.ajax({
            url : "{% url 'teaching:student-logout' %}", // the endpoint,commonly same url
            type : "GET", // http method
            data : { 
              //csrfmiddlewaretoken : csrftoken, 
            }, // data sent with the post request
            // handle a successful response
            success : function() {
              window.open("{% url 'core:home' %}", '_self')
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
              console.log(xhr.status + ": " + xhr.responseText);
            }
          });
        };

        // Chama a função para fazer logout
        $("#logout").click(function(event) {
          event.preventDefault();
          doLogout();
        });

        // Envia um ajax para incrementar o contador de downloads das notas de
        // aulas
        function counter(cln_id, ln_id, url){

          // [publications] Código copiado da documentação do Django
          // Implementa segurança contra ataque CSRF
          // ## INÍCIO ##

          //Prepare csrf token
          var csrftoken = getCookie('csrftoken');

          function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
          }
          $.ajaxSetup({
            beforeSend: function(xhr, settings) {
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
            }
          });
          // ## FIM ##

          $.ajax({
            url : url,
            type : "POST", // http method
            data : { 
              csrfmiddlewaretoken : csrftoken, 
              cln_id: cln_id,
              ln_id: ln_id
            },
            // data sent with the post request
            // handle a successful response
            success : function() {
              console.log("OK"); // another sanity check
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
              console.log(xhr.status + ": " + xhr.responseText); // provide a bit more 
                                                         // info about the error 
                                                         // to the console
            }
          });
        };

        {% for clnote in class_lecture_notes %}
          // Chama a função do contador de downloads das notas de aulas
          $("#note-{{ clnote.id }}").click(function( event ) {
            event.preventDefault();
            var url = "{% url 'teaching:ln-download-counter' %}";
            var cln_id = "{{ clnote.id }}";
            var ln_id = "{{ clnote.lecture_note.id }}";
            counter(cln_id, ln_id, url);
            var url_file = "{{ clnote.lecture_note.upload.url }}";
            window.open(url_file, '_blank')
          });
          // Implementa o controle da visualização da descrição das notas de
          // aulas
          $(".note-{{ clnote.id }}").click(function(event){
            event.preventDefault();
            if ($(this).next("#note")[0]){
              $(this).next("#note").fadeToggle();
            }
            else {
              $(this).next().next().next("#note").fadeToggle();
            }
          });
        {% endfor %}

        // Goggle Analytcs
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-96441488-1', 'auto');
        ga('send', 'pageview');

      })
  </script>
