{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container container-table">
  <div class="content-navbar-adjust"></div>
  <div id="student-content" class="row">
    <div class="col-md-9">
      <h4 class="alert alert-info">{{ course_title }}</h4>
      <p>{{ course_description }}</p>
      <hr/>
      <h4 class="alert alert-info">Notice Board</h4>
      <p>Loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum
         loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum 
         loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum 
         loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum 
         loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum 
         loren ipsum loren ipsum loren ipsum loren ipsum loren ipsum
      </p>
      <hr/>
      <h4 class="alert alert-info">Lecture Notes</h4>
      {% for note in lecture_notes %}
        <h5>{{ note.title }}</h5> 
        <p>{{ note.lecture_note }}</p>
        <hr/>
      {% endfor %}
    </div>
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">{{ request.user.username }}</h3>
        </div>
        <div class="panel-body">
          <p>Duration: {{ duration }}</p>
          <p>Period: {{ period }}</p>
          <hr/>
          <a class="pull-right" href="#">Logout</a>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Schedule</h3>
        </div>
        <div class="panel-body schedule-content">
        {% for item in schedule %}
          <p>Date: {{ item.date }}</p>
          <p>Description:</p>
          <p>{{ item.description }}</p>
          <hr/>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>   

{% endblock %}
